[submodule "LaneLines-P1"]
	path = LaneLines-P1
	url = https://github.com/RobinCPC/CarND-LaneLines-P1.git
[submodule "Traffic-Sign-Classifier"]
	path = Traffic-Sign-Classifier
	url = https://github.com/RobinCPC/CarND-Traffic-Sign-Classifier-Project.git
[submodule "Behavioral-Cloning"]
	path = Behavioral-Cloning
	url = https://github.com/RobinCPC/CarND-Behavioral-Cloning-P3.git
[submodule "Advanced-Lane-Lines"]
	path = AdvancedLaneLines
	url = https://github.com/RobinCPC/CarND-Advanced-Lane-Lines.git
[submodule "Vehicle-Detection"]
	path = VehicleDetection
	url = https://github.com/RobinCPC/CarND-Vehicle-Detection.git
